.bb/*
*/.bb/backups*
*/.DS_Store
.BBEditLSPWorkspaceConfig.json
.trash/
.uploads/

# Environment files
.env

node_modules/
coverage/
tags
tags.ignore

data/
debug/
dev-planning/
docs/.obsidian
playground/
